@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
.hidden{
    display: none !important;
}
#main-container{
    display: flex;
}
#info-div{
    margin-left: 450px;
    background-color: rgb(222, 222, 222);
    padding: 30px;
    border-radius: 10px;
    max-height: 150px;
}
#card-div{
    margin-left: 20px;
    background-color: rgb(222, 222, 222);
    padding: 30px;
    border-radius: 10px;
}
button{
    border: none;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 6px;
}
#error-msg{
    color: red;
}
#success-msg{
    color: green;
}
